services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: employeesdb
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data/employeesdb

  adminer:
    image: adminer
    restart: always
    ports:
      - 9000:8080

volumes:
  pgdata:
